<?xml version = "1.0" encoding = "UTF-8" ?>

<AADKerberosRollover>
	<CloudUsername>example@example.school.nz</CloudUsername>
	<OnPremiseUsername>Example\ExampleUsername</OnPremiseUsername>
<SMTP>
	<Server>relay.n4l.co.nz</Server>
	<From>noreply@example.school.nz</From>
	<To>
		<Email>alerts@example.school.nz</Email>
		<Email>ict@example.school.nz</Email>
	</To>
</SMTP>
</AADKerberosRollover>
